<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="webjars/angular-material/1.1.0-rc.5/angular-material.css">
<link rel="stylesheet" href="demo.css">
</head>
<body ng-app="DemoApp" ng-cloak>
	<md-content> 
		<md-toolbar class="md-tall">
			<h2 class="md-toolbar-tools">
				<span class="md-display-3">Pin Framework Demo</span>
			</h2>
		</md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label="Query Params">
        <md-content class="md-padding">
          <h1 class="md-display-2">Query params</h1>
		      <form name="searchForm" ng-controller="DemoController as demo">
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>First name</label>
		            <input ng-model="demo.firstName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Last name</label>
		            <input ng-model="demo.lastName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-primary" ng-click="demo.queryParams()">Search</md-button>
		        </div>
		      </form>
	        </md-content>
      </md-tab>
      <md-tab label="Path Params">
        <md-content class="md-padding">
          <h1 class="md-display-2">Path params</h1>
		      <form name="findForm" ng-controller="DemoController as demo">
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Id</label>
		            <input ng-model="demo.id">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-primary" ng-click="demo.pathParams()">Find</md-button>
		        </div>
		      </form>
	        </md-content>
      </md-tab>
      <md-tab label="Post Params Angular">
        <md-content class="md-padding">
          <h1 class="md-display-2">Post Params Angular</h1>
		      <form name="postForm" ng-controller="DemoController as demo">
		      	<div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Id</label>
		            <input ng-model="demo.id">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>First name</label>
		            <input ng-model="demo.firstName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Last name</label>
		            <input ng-model="demo.lastName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-primary" ng-click="demo.postParamsAngular()">Add</md-button>
		        </div>
		      </form>
	        </md-content>
      </md-tab>
      <md-tab label="Post Params Classic">
        <md-content class="md-padding">
          <h1 class="md-display-2">Post Params Classic</h1>
		      <form name="postForm" ng-controller="DemoController as demo">
		      	<div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Id</label>
		            <input ng-model="demo.id">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>First name</label>
		            <input ng-model="demo.firstName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Last name</label>
		            <input ng-model="demo.lastName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-primary" ng-click="demo.postParamsClassic()">Add</md-button>
		        </div>
		      </form>
	        </md-content>
      </md-tab>
       <md-tab label="Upload File Angular">
          <h1 class="md-display-2">Upload File Angular</h1>
		      <form name="postForm" ng-controller="DemoController as demo">
		      	<div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Id</label>
		            <input ng-model="demo.id">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>First name</label>
		            <input ng-model="demo.firstName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Last name</label>
		            <input ng-model="demo.lastName">
		          </md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<div class="md-button md-raised md-primary" ngf-select ng-model="demo.filesToUpload" ngf-multiple="true">Select files</div>
		        </div>
		        <div layout-gt-sm="col" ng-repeat="file in demo.filesToUpload"  >
		        	<md-input-container class="md-block" flex-gt-sm>
						<input type="text" value="{{file.name}}" disabled >
					</md-input-container>
		        </div>
		        <div layout-gt-sm="row">
		        	<md-button class="md-primary" ng-click="demo.uploadFileAngular()">Add</md-button>
		        </div>
		      </form>
	        </md-content>
      </md-tab>     
       <md-tab label="Upload File Classic">
        <md-content class="md-padding">
          <h1 class="md-display-2">Upload file classic</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>     
       <md-tab label="Download File">
        <md-content class="md-padding">
          <h1 class="md-display-2">Download File</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>     
    </md-tabs>
   		<div layout="column" layout-fill layout-align="top center">
      		<p>
      		Demo for pin framework
      		</p>
      	</div>
	    
	</md-content>
	<script src="webjars/angularjs/1.4.0/angular.js"></script>
	<script src="webjars/angularjs/1.4.0/angular-animate.js"></script>
	<script src="webjars/angularjs/1.4.0/angular-aria.js"></script>
	<script src="webjars/angularjs/1.4.0/angular-messages.js"></script>
	<script src="webjars/ng-file-upload/12.0.4/ng-file-upload.js"></script>
	

	<script src="webjars/angular-material/1.1.0-rc.5/angular-material.js"></script>

	<script src="webjars/jquery/3.0.0/jquery.js"></script>
	<script src="demo.js"></script>

</body>
</html>